In [15]:
import pandas as pd
import unicodedata as un

Read in Drug Raw Data inside data folder

In [44]:
drg = pd.read_csv('../data/RawData_Drug_246_12_15_2017.csv',encoding='latin1')
drg

,Drug A,Age of patient,Patient gender,Height,Tumor stage,Date enrolled,Complications?
0,1,25,Male,61Ó,1,1/15/99,no
1,2,?,female,5Õ8Ó,2,2/1/99,y
2,3,40,male,120cm,IV,2/13/99,No
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Drug B,NaN,NaN,NaN,NaN,NaN,NaN
5,1,unknown,m,5Õ6Ó,3,Jan-98,yes
6,2,22,f,5Õ,III,Mar-99,Y
7,3,31,?,172,4,?,n
8,4,5,M,NaN,II,Last fall,N

Drop the empty row

In [45]:
drg.dropna(how='all', inplace=True)

Fix Height Column into cm and format into a double

In [85]:
# replace NaN temporaryely with 0 so we can loop over them
drg.Height[drg.Height.isnull()] = 'X' 
newr =[]
tmprow = [] # Write in temp numbers for one row e.g. for inches and feet

for index, row in drg.iterrows():
    st = 0
    cnt = 0
    if row.Height.isdigit():
        newr.append(int(row.Height))
    else:
        for ltr in row.Height:
            if ltr.isdigit():
                cnt += 1
            else:
                if ltr == 'Ó':
                    tmprow.append(int((row.Height[st:st+cnt]))*2.54) 
                elif ltr == 'Õ':
                    tmprow.append(int((row.Height[st:st+cnt]))*30.48)
                elif ltr == 'c':
                    tmprow.append(int((row.Height[st:st+cnt])))
                elif ltr == 'X':
                    tmprow.append(0)
                else:
                    print("Warning!" , ltr)
                st = cnt + 1
                cnt = 0
        newr.append(round(sum(tmprow)))
        tmprow = []
newr

Warning! m

[155, 173, 120, 0, 168, 152, 172, 0]

In [86]:
drg.Height = newr
drg

,Drug A,Age of patient,Patient gender,Height,Tumor stage,Date enrolled,Complications?
0,1,25,Male,155,1,1/15/99,no
1,2,?,female,173,2,2/1/99,y
2,3,40,male,120,IV,2/13/99,No
4,Drug B,NaN,NaN,0,NaN,NaN,NaN
5,1,unknown,m,168,3,Jan-98,yes
6,2,22,f,152,III,Mar-99,Y
7,3,31,?,172,4,?,n
8,4,5,M,0,II,Last fall,N